<%= form_for(@paragraph) do |f| %>
  <% if @paragraph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paragraph.errors.count, "error") %> prohibited this paragraph from being saved:</h2>

      <ul>
      <% @paragraph.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tvcharacter_id, 'Character', :id => "character" %>
    <%= f.select :tvcharacter_id, Tvcharacter.all.map{|tvcharacter| ["#{tvcharacter.name}", tvcharacter.id]}, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :quotations, 'Quotes per paragraph' %>
    <%= f.number_field :quotations, :min => 1, :max => 20, :id => 'quotes', :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :paragraph_number, 'Number of paragraphs' %>
    <%= f.number_field :paragraph_number, :min => 1, :max => 10, :id => 'paragraphs', :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
