<!DOCTYPE html>
<html>
<head>
  <title>Underwood-ipsum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<%= form_for(@paragraph) do |f| %>
		  <div class="form-control navbar-inverse">
		    <%= f.label :tvcharacter_id, 'Character' %>
		    <%= f.select :tvcharacter_id, Tvcharacter.all.map{|tvcharacter| ["#{tvcharacter.name}", tvcharacter.id]}, :id => 'character' %>
		  
		    <%= f.label :quotations, 'Quotes per paragraph' %>
		    <%= f.number_field :quotations, :min => 1, :max => 20, :id => 'quotes', :value => Random.rand(20) %>
		 
		    <%= f.label :paragraph_number, 'Number of paragraphs' %>
		    <%= f.number_field :paragraph_number, :min => 1, :max => 10, :id => 'paragraphs', :value => Random.rand(10) %>
		  
		    <%= f.submit "Generate", :id => "generate" %>
		  </div>
		<% end %>
		</ul>
    	<ul class="nav navbar-nav navbar-right">
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= include_gon %>
<%= yield %>

</body>
</html>
